[Unit]
After=network.target
[Service]
Environment=NODE_PORT=3000
Type=simple
User=dannypires99
ExecStart=/usr/bin/node /home/dannypires99/event-manager/server/server.js
Restart=on-failure
[Install]
WantedBy=multi-user.target